<!--template inheritance-->
{% extends 'base.html' %}
{% load static %} <!--to load static files-->

{% block static_files %} <!--extend static_files block from base-->
    <link rel="stylesheet" href="{% static 'demo/challenges.css' %}"/>
{% endblock static_files%}

{% block title %} Monthly Challenge {% endblock title %}
{% block content %}
   {% include 'demo/header.html' %}  <!-- for including partial templates-->
    <ul>
        {% for m in months %}
        <li>
            <!--dynamic url as, {% url viewname month as argument %}-->
            <a href="{% url 'monthly-challenge' m %}">
                {{ m|title }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
